<!DOCTYPE html>
<html lang="en">

<head>
    <title>La Porra ITQ</title>


    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Inicio</a>
                    </li>
                    <li role="presentation"><a href="showSignin">Inicia Sesión</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Regístrate</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">La Porra ITQ</h3>

        </div>
        <div class="jumbotron">
          <h2>Comparte tus recuerdos</h2>
          <img src="{{ url_for('static', filename='zorros.png') }}" class="welcomeImg">
          <h3>Si eres de las generaciones</h3>
          <h1>79' - 80' - 84'</h1>
          <h3>Sube tus fotos de esa epoca y compartelas</h3>
        </div>

        <footer class="footer">
            <p>&copy; Diana Sanabria Nieto</p>
        </footer>

    </div>
</body>

</html>
